   {% extends "PagPrincipal/base.html" %}
   {%load static%}
   {%block content%}
  
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'PagPrincipal/img/principal.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">¡Bienvenidos!</span>
            <span class="section-heading-lower">Únete a la Comunidad TecnoShop</span>
          </h2>
          <p class="mb-3">¡Gracias por elegir TecnoShop! Tu satisfacción es nuestra prioridad.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">¡Bienvenido a TecnoShop!</span>
                <span class="section-heading-lower">¡Tu futuro tecnológico comienza aquí!</span>
              </h2>
              <p class="mb-0">
                En TecnoShop, estamos comprometidos a brindarte lo último y lo mejor en tecnología. Desde smartphones y laptops hasta accesorios y gadgets innovadores, nuestra tienda ofrece una amplia variedad de productos de alta calidad para satisfacer todas tus necesidades tecnológicas.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {%endblock%}